@import '../../_variables.scss';
@font-face {
  font-family: 'Cabin Sketch';
  src: url('../../fonts/cabinSketch/CabinSketch-Regular.ttf') format('truetype');
}

h1 {
  margin: auto;
  color: $primaryWhite;
  font-size: 4rem;
  text-align: center;
  font-family: 'Cabin Sketch', sans-serif;
}

header {
  background-color: $darkPrimary;

  a {
    text-decoration: none;
  }

  nav {
    position: absolute;
    right: 40px;
    top: 20px;
    color: white;
  }
}

.logout {
  font-size: 1.5rem;
  color: white;
  background-color: none;
  text-decoration: none;
}